body{
	background: #f79d00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #64f38c, #f79d00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #64f38c, #f79d00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
div{
	margin-top: 20px;
}
p{
	font-size: 22px;
	font-weight: 700;
	background-color: steelblue;
}
h1{
	font-size: 50px;
}
h1,h3{
	text-align: center;
	font-family: 'Fredoka One', cursive;
}
h3{
	color: blue;
}
a {
  color: black;
  text-decoration: none; /* no underline */
}
input{
	height: 25px;
	padding-left: 5px;
}
.description{
	width: 60%;
	margin: 0 auto;
	background-color: pink;
	cursor: pointer;
}
#input-area{
	text-align: center;
}
#input-text{
	margin: 0 auto;
}