html{
	height: 100%;
}
body{
	background: url("laptop.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Courgette', cursive;
}

h1{
	text-align: center;
	color: steelblue;
	font-size: 75px;
	padding-top: 15px;
	text-shadow: 1px 1px 1px black;
}
h3{
	text-align: center;
	color: steelblue;
	font-size: 30px;
	padding-top: 10px;
	text-shadow: 1px 1px 1px black;	
	margin-bottom: 25px;
}
.projects{
	font-family: 'Gentium Book Basic', serif;
}
.jumbotron{
	background: rgba(255,255,255,0.5);
	box-shadow: 2px 2px 2px black;
}
.thumbnail{
	display: none;
}
.btn{
	margin-left: 85%;
	margin-top: 2%;
	padding: 10px;
	font-size: 25px;
}